# Compiler output
cache/
out/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
lib/

# Coverage
lcov.info
coverage/

# Broadcast
broadcast/

# Docs
docs/
